@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$labelSize: 2rem;
$orange: rgba(255, 120, 90, 1);

.cv-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 50px;
  width: 900px;
  height: auto;
  align-items: center;
  place-content: center;
  background: none;
  font-family: "Poppins", sans-serif;

  .center {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    min-width: 200px;

    .custom-form-group {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      min-width: 150px;
      max-width: 600px;
      margin: auto;

      .custom-label {
        display: flex;
        z-index: 1000;
        padding-top: 25px;
        margin-left: 35px;
        height: 50px;
        color: white;
        font-size: $labelSize;
        font-weight: 400;
        text-shadow: 0 0 5px black;
        transition: all 0.5s ease, transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
      }

      .custom-input, .custom-area {
        display: flex;
        min-width: 350px;
        max-width: 450px;
        height: 70px;
        margin: auto;
        padding: 0 50px 0 50px;
        border-radius: 40px;
        border: 1px solid rgba(0,0,0, .5);
        background-color: rgba(0, 0, 0, .1);
        outline: none;
        text-align: center;
        font-size: 1.5rem;
        color: white;
      }



      .custom-input:focus, .custom-area:focus {
        box-shadow: 0 0 1rem rgba(255, 100, 40, 1);
        z-index: 1;
      }

      &:focus-within .custom-label {
        transform: translate(29%, 7px);
        font-size: 1.5rem;
        font-weight: 500;
        z-index: 1000;
        color: rgba(255, 120, 90, 1);
      }

      &:focus-within .label-sm {
        transform: translate(33%, 7px) !important;
      }

      &:focus-within .label-md {
        transform: translate(30%, 7px) !important;
      }

      &:focus-within .label-lg {
        transform: translate(20%, 7px) !important;
      }

      &:focus-within .label-xl {
        transform: translate(10%, 7px) !important;
      }

      &:focus-within .contact-label {
        transform: translate(25%, 7px);
      }

      &:focus-within .area-label {
        transform: translate(33%, 7px) !important;
      }

      &:focus-within .collection-area-label {
        transform: translate(30%, 7px) !important;
      }

      .custom-area {
        min-width: 450px;
        max-width: 600px;
        min-height: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: start;
        resize: none;
        overflow: hidden;
      }

      .invalid-field {
        display: flex;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
        color: red;
        text-shadow: 0 0 10px black;
      }

      .custom-picker {
        position: relative;
        display: flex;
        align-items: center;

        .custom-input {
          display: flex;
          min-width: 350px;
          max-width: 450px;
          height: 70px;
          padding-right: 50px; // Make space for the icon
          padding-left: 20px;
          border-radius: 40px;
          border: 1px solid rgba(0, 0, 0, .5);
          background-color: rgba(0, 0, 0, .1);
          outline: none;
          text-align: center;
          font-size: 1.5rem;
          color: white;
        }


        .mat-datepicker-toggle {
          position: absolute;
          right: 20px; // Adjust positioning to the right inside the input
          z-index: 1;
        }

        .mat-datepicker-toggle button {
          border: none;
          background: transparent;
          cursor: pointer;
        }

        ::ng-deep .mat-datepicker-toggle,
        ::ng-deep .mat-icon {
          font-size: 24px;
          color: white !important;
          text-shadow: 0 0 5px black !important;
          transition: all ease 0.3s !important;

          &:hover {
            color: rgba(255, 120, 90, 1) !important;
          }
        }
      }
    }

    .collection {
      display: flex;
      position: relative;
      flex-flow: column wrap;
      place-content: space-evenly;
      min-width: 500px;
      width: 600px;
      max-width: 800px;
      min-height: 150px;
      margin: auto;
      margin-top: 50px;
      padding-bottom: 20px;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, .5);
      background-color: rgba(0, 0, 0, .1);

      .collection-label {
        display: flex;
        z-index: 1000;
        margin-left: 35px;
        margin-top: -25px;
        height: 50px;
        color: white;
        font-size: $labelSize;
        font-weight: 400;
        text-shadow: 0 0 5px black;
        transition: all 0.5s ease, transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
      }

      .start-end-date {
        display: flex;
        flex-flow: row wrap;
        place-content: center space-evenly;
        min-width: 500px;
        max-width: 600px;
      }

      &:focus-within .collection-label {
        font-weight: 500;
        z-index: 1000;
        color: rgba(255, 120, 90, 1);
      }

      .contact-list, .job-list, .education-list {
        display: flex;
        flex-flow: column wrap;
        place-content: center space-between;

        .list-item {
          display: flex;
          flex-flow: row wrap;
          place-content: center space-between;
          width: 400px;
          height: 60px;
          margin: auto;
          margin-bottom: 10px;
          padding: 0 20px 0 20px;

          .contact-img {
            display: flex;
            place-self: center;
            width: 40px;
            height: 40px;
            border: 1px solid rgba(0,0,0, 1);
            border-radius: 10px;
            outline: none;
            overflow: hidden;
            object-fit: cover;
          }

          .item-title {
            display: flex;
            place-self: center;
            color: white;
            font-size: 1.3rem;
            font-weight: 400;
            text-shadow: 0 0 5px black;
            transition: all 0.5s ease, transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
          }

          .item-undertitle {
            display: flex;
            place-self: center baseline;
            color: rgba(200,200,200, 0.5);
            text-shadow: 0 0 5px black;
            font-size: .8rem;
          }

          .delete-item {
            display: flex;
            place-self: center;
            place-items: center;
            height: 60px;
            width: fit-content;
            font-size: 1.5rem;
            text-shadow: 0 0 5px black;
            transition: transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
            border: none;
            color: white;
            background-color: transparent;
            visibility: hidden;

            &:hover {
              color: red;
            }
          }
        }

        .list-item:hover {
          background-color: rgba(0,0,0, .1);
          border-radius: 20px;

          &:hover .delete-item {
            visibility: visible;
          }
        }
      }

      .hrr {
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, 1);
        width: 400px;
        margin: auto;
        margin-bottom: -20px;
      }

      .add-contact, .add-bt {
        display: flex;
        place-self: center;
        place-content: center;
        place-items: center;
        width: 60px;
        height: 60px;
        margin-top: 35px;
        border: 1px solid rgba(0,0,0, .5);
        border-radius: 40px;
        color: white;
        font-size: 2rem;
        text-shadow: 0 0 5px black;
        background-color: rgba(0,0,0, .1);

        &:hover {
          text-shadow: 0 0 5px black;
          transition: transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
          color: green;
        }
      }

      .add-bt {
        min-width: 150px !important;
        max-width: 200px !important;
        height: 80px !important;

        &:hover {
          text-shadow: 0 0 5px black;
          transition: all 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
          color: rgba(255, 120, 90, 1) !important;
          box-shadow: 0 0 1rem rgba(255, 100, 40, 1) !important;
        }
      }
    }

    .collection:focus-within {
      box-shadow: 0 0 1rem rgba(255, 100, 40, .1);
    }

    .custom-switch {
      display: flex;
      flex-flow: row wrap;
      align-self: center;
      justify-content: space-evenly;
      align-content: center;
      max-width: 500px;
      min-width: 400px;
      min-height: 50px;


      .switch-label {
        display: flex;
        z-index: 1000;
        font-size: 1.3rem;
        text-shadow: 0 0 5px black;
        color: white;
        transition: all 0.5s ease, transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, margin 0.5s ease;
      }

      .selected {
        font-weight: 500;
        z-index: 1000;
        color: rgba(255, 120, 90, 1);
      }

      mat-slide-toggle {
      }
    }
  }
}
::ng-deep .mat-mdc-slide-toggle {
  transform: scale(2) !important;
  align-self: baseline !important;
  width: 100px !important;
  background-color: transparent !important;
}
::ng-deep .mdc-switch__track {
  border: 1px solid rgba(0,0,0, .5) !important;
  background-color: rgba(0, 0, 0, .1) !important;
  box-shadow: 0 0 1rem rgba(255, 100, 40, 1) !important;
}
::ng-deep .mdc-switch__track::before {
  background-color: rgba(0, 0, 0, .1) !important;
}
::ng-deep .mdc-switch__track::after {
  background-color: rgba(0, 0, 0, .1) !important;
}
::ng-deep .mdc-switch__handle {
  background-color: transparent !important;
}
::ng-deep .mdc-switch__handle::after {
  background-color: rgba(150, 150, 150, .5) !important;
}

::ng-deep .mdc-switch__icon--on path {
  display: none !important;
}
::ng-deep .mdc-switch__icon--off path {
  display: none !important;
}

::ng-deep .mat-datepicker-content {
  display: flex !important;
  position: relative !important;
  margin-right: 50px !important;
  padding: 0 50px 0 50px !important;
  border-radius: 40px !important;
  border: 1px solid rgba(0,0,0, .5) !important;
  background-color: rgba(0, 0, 0, .1) !important;
  backdrop-filter: blur(40px) !important;
  outline: none !important;
  text-align: center !important;
  color: white !important;
}

::ng-deep .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-period-button .mdc-button__label,
::ng-deep .mat-calendar-table-header th,
::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button,
::ng-deep .mat-calendar-header,
::ng-deep .mat-calendar-body-label {
  color: white !important;
}
::ng-deep .mat-calendar-body-selected {
    background-color: rgba(0, 0, 0, .1) !important;
    
    border-color: rgba(0, 0, 0, 1) !important;
  box-shadow: 0 0 1rem rgba(255, 100, 40, 1) !important;
}
::ng-deep .mat-calendar-body-today {
  background-color: rgba(0, 0, 0, .1) !important;
  border-color: rgba(0, 0, 0, 1) !important;
  box-shadow: 0 0 1rem rgba(255, 100, 40, 1) !important;
}
::ng-deep .mat-calendar-body-cell-content:hover {
  background-color: rgba(255, 100, 40, .5) !important;
}

::ng-deep .mat-mdc-select-panel {
  display: flex !important;
  position: relative !important;
  flex-flow: column!important;
  margin: auto;
  margin-top: 15px !important;
  min-width: 50px !important;
  max-width: 200px !important;
  width: auto !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-left: 1px solid rgba(0,0,0, .5) !important;
  border-right: 1px solid rgba(0,0,0, .5) !important;
  border-bottom: 1px solid rgba(0,0,0, .5) !important;
  box-shadow: 0 10px 1rem rgba(255, 100, 40, .5) !important;
  background-color: rgba(0, 0, 0, .1) !important;
  backdrop-filter: blur(40px) !important;

  ::ng-deep .mat-mdc-option {
    background-color: transparent !important;
    color: white !important;
    font-size: 1.2rem !important;

    &:hover {
      background-color: green !important;
    }
  }

  ::ng-deep .mat-mdc-option-active {
    ::ng-deep .mdc-list-item__primary-text {
      color: rgba(255, 120, 90, 1) !important;
    }
  }
}

::ng-deep .mat-mdc-select-arrow{
    color: white !important;
}
.custom-drop-menu {
  min-width: 200px !important;
  max-width: 200px !important;
  height: 70px !important;
  padding: 20px !important;
  margin: 0 !important;
  margin-left: 20px !important;

}


  .custom-drop-menu-sm {
    min-width: 100px !important;
    max-width: 100px !important;
    height: 70px !important;
    padding: 20px !important;
    margin: 0 !important;
    margin-top: 50px !important;
    margin-left: 20px !important;
  }

  .sm {
    min-width: 250px !important;
    max-width: 300px !important;
    margin-right: 25px !important;
  }

  .sm-x {
    min-width: 250px !important;
    max-width: 250px !important;
    margin: 10px !important;
    margin-top: 0 !important;
  }

  .sm-sx {
    min-width: 200px !important;
    max-width: 200px !important;
    margin: 10px !important;
    margin-top: 0 !important;
  }

  .area-lg {
    min-width: 500px !important;
    max-width: 600px !important;
    min-height: 200px !important;
    resize: vertical !important;
    overflow: hidden !important;
    font-size: 1rem !important;
  }

  .contact-form {
    display: flex;
    flex-flow: row wrap;
  }

  .skills-form {
    display: flex;
    flex-flow: row wrap;
    place-content: center space-around;
  }

  .item-comb {
    display: flex;
    flex-flow: column wrap;
    place-self: center;
    margin: auto;
  }
