.body {
  background-image: url('../../assets/images/8.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position:relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
