<div class="container">
  @if (posts && posts.length > 0) {
    <div class="posts">
      @for (post of posts; track post) {
        <div class="post">
          <label class="post-title">{{post.title}}</label>
          <div class="combo">
            <img class="cover" [src]="post.pictures![0]" />
            @if (post.pictures!.length > 1) {
              <div class="gallery">
                @for (picture of post.pictures; track picture) {
                  <button type="button" class="img-bt" (click)="openImageInNewTab(picture)">
                    <img class="img" [src]="picture" />
                  </button>
                }
              </div>
            }
          </div>
          @if (post.link) {
            <a class="link" [href]="post.link" >reference</a>
          }
          <label class="description">{{post.description}}</label>
          <hr class="hrr" />
          <label class="date">{{dateFormat(post.datePosted!.toString())}}</label>
        </div>
      }
    </div>
  }
</div>
