<div class="container">
    <form class="login-form" [formGroup]="form" (submit)="logIn()">
        <div class="custom-form-group">
            <label class="custom-label" for="userName">Username</label>
            <div class="combo">
                <input type="text" class="custom-input" formControlName="userName" id="userName" autocomplete="off"/>
                <span class="icon">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div> 
        </div>
        <div class="custom-form-group">
            <label class="custom-label" for="password">Password</label>
            <div class="combo">
                <input type="password" class="custom-input" formControlName="password" id="password" #password autocomplete="off"/>
                <span class="icon">
                    <i class="fa-solid fa-eye-slash"
                    (mousedown)="togglePasswordVisibility(true)"
                    (mouseup)="togglePasswordVisibility(false)"
                    (mouseleave)="togglePasswordVisibility(false)"></i>
                </span>
            </div>
            
        </div>
        <label class="error" #error hidden>{{errorMsg}}</label>
        <button type="submit" class="loginBtn">Log in</button>
    </form>
</div>
