<div class="container">
    <div class="panel">
        <nav class="panel-nav">
            <a [routerLink]="['/control-panel/posts']">Posts</a>
            <a [routerLink]="['/control-panel/projects']">Projects</a>
            <a [routerLink]="['/control-panel/cv']">CV</a>
            <a [routerLink]="['/control-panel/inbox']">Inbox</a>
        </nav>
        <div class="vl"></div>
        <div class="panel-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

