<div class="container">
    <div class="row panel">
        <nav class="col panel-nav">
            <a [routerLink]="['/control-panel/posts']">Posts</a>
            <a [routerLink]="['/control-panel/projects']">Projects</a>
            <a [routerLink]="['/control-panel/cv']">CV</a>
            <a [routerLink]="['/control-panel/contact']">Contacts</a>
        </nav>
        <div class="col vl"></div>
        <div class="col panel-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

