@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$title-width: 80%;
$options-width: 20%;

.container {
  display: flex;
  flex-flow: column;
  width: 900px;
  height: 620px;

  .projects {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    place-content: flex-start;
    place-items: center;
    font-family: "Poppins", sans-serif;

    .list {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      place-content: flex-start;
      gap: 5px;
      overflow: auto;
      scrollbar-width: none;

      .project {
        display: flex;
        flex-flow: row;
        place-self: center;
        place-content: center;
        max-width: 700px;
        height: 80px;
        border-radius: 30px;
        transition: all .5s ease;


        .title {
          display: inline-block;
          flex-flow: row;
          max-width: $title-width;
          width: 40ch;
          height: auto;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: calc($options-width - 30px);
          place-content: center;
          place-self: center;
          text-align: center;
          font-size: 1.5rem;
          color: whitesmoke;
          font-weight: 500;
          text-shadow: 0 0 10px black;
        }

        .actions {
          display: flex;
          flex-flow: row;
          place-items: center;
          place-content: end;
          place-self: center;
          height: 100px;
          width: $options-width;
          padding-right: 30px;
          gap: 20px;

          .action-icon {
            display: flex;
            opacity: 0;
            font-size: 1.5rem;
            color: grey;
            text-decoration: none;
            font-weight: 500;
            text-shadow: 0 0 10px black;
            transition: all .5s ease;
          }

          .edit:hover {
            color: yellow;
          }

          .delete:hover {
            color: red;
          }
        }
      }

      .custom-hr {
        display: flex;
        flex-flow: row;
        place-content: center;
        place-items: center;
        place-self: center;
        border-top: 2px solid rgba(0, 0, 0, 1);
        width: 300px;
        margin: 0;
      }
    }

    .project:hover {
      background-color: rgba(0, 0, 0, .1);
      cursor: pointer;

      .actions .action-icon {
        opacity: 1 !important;
      }
    }
  }

  .btn-add {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
    place-self: center;
    text-decoration: none;
    margin-top: auto;
    transform: translateY(20px);
    min-height: 50px;
    min-width: 50px;
    font-size: 1.1rem;
    color: whitesmoke;
    background-color: rgba(0,0,0, .1);
    border: 2px solid rgba(0,0,0, .2);
    border-radius: 30px;
    text-shadow: 0 0 10px black;
    transition: all .5s ease;
  }

  .btn-add:hover {
    color: green;
    box-shadow: 0 0 1rem green;
  }
}


